@import url("https://fonts.googleapis.com/css2?family=Port+Lligat+Sans&display=swap");

.about-section {
  background: url(assets/about-us1.jpg) no-repeat left;
  background-size: 50%;
  background-color: #11101b;
  overflow: hidden;
  padding: 100px 0;
}
.inner-container {
  width: 50%;
  float: right;
  background-color: #032e51;
  transition: transform 0.5s;
  padding: 150px;
  height: 600px;
}

.inner-container h1{
  margin-bottom: 30px;
  font-size: 30px;
  color: #f1f1f1;
  font-weight: 900;
}
.outer-container {
  background-color: #032e51;
  transition: transform 0.5s;
  padding: 50px;
  display: none;
}
.outer-container h1 {
  margin-bottom: 30px;
  font-size: 30px;
  color: #f1f1f1;
  font-weight: 900;
}
.about-text {
  font-size: 18px;
  color: #fbfbfb;
  line-height: 30px;
  text-align: justify;
  margin-bottom: 40px;
}

.inner-container:hover{
    transform: scale(1.15);
}
@media screen and (max-width: 1200px) {
  .inner-container {
    padding: 80px;
  }
}

@media screen and (max-width: 1000px) {
  .about-section {
    height: 500px;
    background-size: 100%;
    padding: 20px;
  }

  .inner-container {
    width: 100%;
  }
  .inner-container {
    display: none;
  }
  .outer-container {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .about-section {
    padding: 20px;
  }

  .inner-container {
    padding: 60px;
  }
}
