@import url("https://fonts.googleapis.com/css2?family=Port+Lligat+Sans&display=swap");

.event-banner {
  display: flex;
  width: 100%;
  background-color: #032646;
  color: #fefefe;
  height: 500px;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.event-container {
  background-color: #11101b;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.event-container .event-card {
  display: flex;
  flex-flow: row;
  width: 80%;
}

.event-container .event-card .event-left {
  color: #fefefe;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.event-container .event-card .event-left img {
  width: 100%;
  height: 80%;
  margin: 10px;
  border-radius: 10px;
}

.event-container .event-card .event-right {
  color: #fefefe;
  display: flex;
  padding: 10px;
  line-height: 30px;
  justify-content: center;
  text-align: justify;
  align-items: left;
  flex-flow: column;
  width: 50%;
}

.event-container .event-card .event-right h2 {
  font-size: 30px;
  margin-bottom: 15px;
}
.event-container .event-card .event-right span {
  display: flex;
  justify-content: right;
  align-items: center;
  font-size: 20px;
  width: 100%;
  margin-top: 10px;
}
.event-container .event-card .event-right h4 {
  color: #3595dd;
  text-decoration: underline;
}
.event-container .event-card .event-right h4:hover {
  color: #72c2ff;
  text-decoration: underline;
}
.event-container .event-card .event-right h4:active {
  color: #b0ddff;
  font-size: 14px;
  text-decoration: underline;
}
.gap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.gap img {
  width: 70%;
}

@media only screen and (max-width: 900px) {
  .event-container .event-card .event-right h2 {
    font-size: 20px;
  }
  .event-container .event-card .event-right h3 {
    font-size: 15px;
    line-height: 15px;
  }
  .event-container .event-card .event-left img {
    width: 100%;
    height: 60%;
  }
  .gap {
    display: none;
  }
  .event-container .event-card {
    flex-flow: column;
  }
  .event-container .event-card .event-left {
    display: block;
    width: 100%;
  }
  .event-container .event-card .event-right {
    width: 100%;
  }
}
