.slide {
  height: 350px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  animation: changeBack 45s infinite;
  border-radius: 15px;
  transition: transform 0.3s ease;
  animation-fill-mode: forwards;
}
@keyframes changeBack {
  0% {
    background-image: url(assets/Treasure_Hunt/1.png);
  }
  9% {
    background-image: url(assets/Treasure_Hunt/1.png);
  }
  18% {
    background-image: url(assets/Treasure_Hunt/2.png);
  }
  27% {
    background-image: url(assets/Treasure_Hunt/3.png);
  }
  36% {
    background-image: url(assets/Treasure_Hunt/4.png);
  }
  54% {
    background-image: url(assets/Treasure_Hunt/6.png);
  }
  63% {
    background-image: url(assets/Treasure_Hunt/7.png);
  }
  81% {
    background-image: url(assets/Treasure_Hunt/9.png);
  }
  90% {
    background-image: url(assets/Treasure_Hunt/10.png);
  }
  100% {
    background-image: url(assets/Treasure_Hunt/11.png);
  }
}
@media only screen and (max-width: 900px) {
  .slide {
    margin-left: 20px;
    margin-right: 20px;
    height: 250px;
  }
}
