.slide {
  height: 350px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  animation: changeBack 20s infinite;
  border-radius: 15px;
  transition: transform 0.3s ease;
  animation-fill-mode: forwards;
}
@keyframes changeBack {
  0% {
    background-image: url(assets/Treasure_Hunt/1.jpg);
  }
  12% {
    background-image: url(assets/Treasure_Hunt/1.jpg);
  }
  24% {
    background-image: url(assets/Treasure_Hunt/3.jpg);
  }
  36% {
    background-image: url(assets/Treasure_Hunt/4.jpg);
  }
  48% {
    background-image: url(assets/Treasure_Hunt/2.jpg);
  }
  60% {
    background-image: url(assets/Treasure_Hunt/5.jpg);
  }
  72% {
    background-image: url(assets/Treasure_Hunt/6.jpg);
  }
  84% {
    background-image: url(assets/Treasure_Hunt/7.jpg);
  }
  100% {
    background-image: url(assets/Treasure_Hunt/8.jpg);
  }
}
@media only screen and (max-width: 900px) {
  .slide {
    margin-left: 20px;
    margin-right: 20px;
    height: 250px;
  }
}
