.slide {
  height: 350px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  animation: changeBack 20s infinite;
  border-radius: 15px;
  transition: transform 0.3s ease;
  animation-fill-mode: forwards;
}
@keyframes changeBack {
  0% {
    background-image: url(assets/Handle_A_Scandal/1.png);
  }
  16.67% {
    background-image: url(assets/Handle_A_Scandal/1.png);
  }
  33.33% {
    background-image: url(assets/Handle_A_Scandal/2.png);
  }
  50% {
    background-image: url(assets/Handle_A_Scandal/3.png);
  }
  66.66% {
    background-image: url(assets/Handle_A_Scandal/4.png);
  }
  100% {
    background-image: url(assets/Handle_A_Scandal/5.png);
  }
}
@media only screen and (max-width: 900px) {
  .slide {
    margin-left: 20px;
    margin-right: 20px;
    height: 250px;
  }
}
