.slide {
  height: 350px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  animation: changeBack 25s infinite;
  border-radius: 15px;
  transition: transform 0.3s ease;
  animation-fill-mode: forwards;
}
@keyframes changeBack {
  0% {
    background-image: url(assets/MUN/1.png);
  }
  16% {
    background-image: url(assets/MUN/2.png);
  }
  32% {
    background-image: url(assets/MUN/3.png);
  }
  48% {
    background-image: url(assets/MUN/4.png);
  }
  64% {
    background-image: url(assets/MUN/5.png);
  }
  80% {
    background-image: url(assets/MUN/6.png);
  }
  100% {
    background-image: url(assets/MUN/7.png);
  }
}
@media only screen and (max-width: 900px) {
  .slide {
    margin-left: 20px;
    margin-right: 20px;
    height: 250px;
  }
}
