/* .slide {
  height: 350px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  animation: changeBack 20s infinite;
  border-radius: 15px;
  transition: transform 0.3s ease;
  animation-fill-mode: forwards;
}
@keyframes changeBack {
  0% {
    background-image: url(assets/Indian_Youth_parliament/IMG-20220917-WA0097.jpg);
  }
  16.67% {
    background-image: url(assets/Indian_Youth_parliament/IMG-20220917-WA0085.jpg);
  }
  33.33% {
    background-image: url(assets/Indian_Youth_parliament/IMG-20220917-WA0086.jpg);
  }
  50% {
    background-image: url(assets/Indian_Youth_parliament/IMG-20220917-WA0093.jpg);
  }
  66.66% {
    background-image: url(assets/Indian_Youth_parliament/IMG-20220916-WA0024.jpg);
  }
  100% {
    background-image: url(assets/Indian_Youth_parliament/IMG-20220917-WA0101.jpg);
  }
}
@media only screen and (max-width: 900px) {
  .slide {
    margin-left: 20px;
    margin-right: 20px;
    height: 250px;
  }
} */
@media only screen and (max-width: 900px) {
  .slide img{
    height: 250px;
    /* width: 80%; */
  }
} 
@media only screen and (max-width: 640px) {
  .slide img{
    height: 150px;
    /* width: 80%; */
  }
  .arrow {
    font-size: 15px;
  }
} 
@media only screen and (max-width: 640px) {
  .slide img{
    height: 140px;
    /* width: 80%; */
  }
  .arrow {
    border-radius: 100%;
    padding: 8px 15px;
    font-size: 15px;
  }
} 