@import url("https://fonts.googleapis.com/css2?family=Port+Lligat+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Port Lligat Sans", sans-serif;
  box-sizing: border-box;
}

body {
  background: #fefefe;
}
#body {
  overflow: hidden;
}
#loader {
  background: #032646 url(assets/load.gif) no-repeat center center;
  background-size: 30%;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 2500;
}

header {
  width: 100%;
  position: fixed;
  z-index: 4;
  height: 90px;
  background: #032646;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}
.logo img {
  height: 85px;
  width: 85px;
}
.logo {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
.logo span {
  color: #fefefe;
  display: flex;
  margin: 10px;
  font-size: 25px;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.hamburger {
  display: none;
}

.nav-bar ul {
  display: flex;
}

.nav-bar ul li a {
  display: block;
  color: #fefefe;
  font-size: 20px;
  padding: 10px 25px;
  border-radius: 50px;
  transition: 0.2s;
  margin: 0 5px;
}

.nav-bar ul li a:hover {
  color: #11101b;
  background: #fefefe;
}

#active {
  color: #11101b;
  background: #fefefe;
}

@media only screen and (max-width: 1320px) {
  header {
    padding: 0 20px;
  }
}

@media only screen and (max-width: 1100px) {
  header {
    padding: 0 30px;
  }
}

@media only screen and (max-width: 950px) {
  header {
    position: unset;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger .content {
    width: 30px;
    height: 3px;
    background: 6px;
    margin: 6px 0;
    background: #fefefe;
  }
  .nav-bar {
    position: absolute;
    top: 90px;
    height: 0;
    left: 0;
    right: 0;
    width: 100vw;
    background: #11101b;
    transition: 0.2s;
    overflow: hidden;
  }
  .nav-bar.active {
    z-index: 1;
    height: 420px;
  }
  .nav-bar.active ul {
    opacity: 1;
  }
  .nav-bar ul {
    display: block;
    width: fit-content;
    margin: 50px auto 0 auto;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
  }

  .nav-bar ul li a {
    margin-bottom: 12px;
  }
}

.banner {
  height: 810px;
  width: 100%;
  background-color: #032646;
  z-index: -2;
  display: flex;
  position: absolute;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.banner .society-heading {
  padding: 10px;
  margin: 10px;
}

.banner .society-heading .zeal {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 150px;
  color: #8beaff;
}
.banner .society-heading .zeal span {
  color: #3595dd;
}
.banner .society-heading .society {
  font-size: 150px;
  color: #fefefe;
}
canvas {
  height: 100%;
  top: 90px;
  z-index: -1;
  width: 100%;
  background: #032e51;
  /* background-color:#032E51; */
  /* height: 810px; */
  position: absolute;
  opacity: 0.2;
}

@media only screen and (max-width: 900px) {
  .banner {
    height: 300px;
  }
  .banner .society-heading .zeal {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 90px;
  }
  .banner .society-heading .society {
    font-size: 90px;
  }
  canvas {
    height: 500px;
  }
}

.empty {
  width: 100%;
  height: 700px;
}

.bg {
  background-color: #3595dd;
}
.bg img {
  position: absolute;
  top: -100px;
  color: #3595dd;
  z-index: 0;
  background-size: contain;
  width: 100%;
}

body {
  background-color: #032e51;
  margin: 0;
}

.aboutUs {
  position: relative;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
  justify-content: center;
  font-size: 50px;
  color: #fefefe;
}

.about-content {
  display: flex;
  padding: 20px;
  position: relative;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.aboutRect {
  max-width: 1000px;
  justify-content: center;
  align-items: center;
  background: #406e8e;
  margin-top: 20px;
  padding: 20px;
  border-radius: 5px;
}

.aboutRect .aboutText {
  font-weight: 400px;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  color: #fefefe;
}

.redirect-link {
  color: #3595dd;
  font-size: 18px;
  text-decoration: underline;
  display: flex;
  margin-top: 10px;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.about-content .aboutRect a {
  color: #032646;
  font-size: 18px;
  text-decoration: underline;
  display: flex;
  margin-top: 10px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.faculty-heading {
  z-index: 2000;
  position: relative;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
  justify-content: center;
  font-size: 50px;
  color: #fefefe;
}

.faculty-box {
  display: flex;
  padding: 20px;
  position: relative;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.facRect {
  border: 4px ridge #3595dd;
  margin: 20px;
  /* max-width: 8000px; */
  justify-content: center;
  align-items: center;
  background: #406e8e;
  /* margin-top: 20px; */
  padding: 20px;
  border-radius: 20px;
}
#faculty {
  display: flex;
  align-items: center;
  justify-content: center;
}
#faculty img {
  height: 350px;
  width: 300px;
}
.faculty-msg {
  padding: 10px;
  font-weight: 400px;
  font-size: 22px;
  text-align: justify;
  color: #fefefe;
}

.about-content .aboutRect a:hover,
.redirect-link:hover {
  color: #fefefe;
}
.about-content .aboutRect a:active,
.redirect-link:active {
  color: #8beaff;
}
.ourAim {
  width: 100%;
  margin-top: 40px;
  padding: 20px;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fefefe;
}

.aimRect {
  padding: 20px;
  flex-flow: row;
  max-width: 1000px;
  background: #406e8e;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aimRight {
  width: 50%;
  height: 350px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  animation: changeImage 20s infinite;
  border-radius: 15px;
  transition: transform 0.3s ease;
  animation-fill-mode: forwards;
}

@keyframes changeImage {
  0% {
    background-image: url(assets/Aim/2.png);
  }
  16.67% {
    background-image: url(/assets/Aim/2.png);
  }
  33.33% {
    background-image: url(/assets/Aim/1.png);
  }
  50% {
    background-image: url(/assets/Aim/3.png);
  }
  66.66% {
    background-image: url(/assets/Aim/4.png);
  }
  100% {
    background-image: url(/assets/Aim/5.png);
  }
}

.aimRight:hover {
  transform: translateY(-10px);
}

.aimLeft {
  width: 50%;
}
.aim-head {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aimLeft p {
  text-align: justify;
  font-size: 22px;
  color: #fefefe;
}

@media only screen and (max-width: 1320px) {
  .bg img {
    top: 50px;
  }
}
@media only screen and (max-width: 1100px) {
  .bg img {
    top: 150px;
  }
}
@media only screen and (max-width: 1000px) {
  .faculty-box {
    flex-direction: column;
  }
}
@media only screen and (max-width: 900px) {
  .aimLeft p {
    font-size: 22px;
  }
  .aimRect {
    padding: 0;
    flex-flow: column;
  }
  .aboutRect .aboutText {
    font-size: 20px;
  }
  .aboutUs {
    font-size: 22px;
  }
  .aimLeft p {
    font-size: 22px;
  }
  .empty {
    height: 400px;
  }
  .bg img {
    top: 150px;
  }
  .faculty-msg {
    font-size: 20px;
  }
  .faculty-heading {
    font-size: 30px;
  }
}
@media only screen and (max-width: 470px) {
  
  .aimRight,
  .aimLeft {
    width: 90%;
  }
  .aboutUs {
    font-size: 20px;
  }
  .aimLeft p {
    font-size: 20px;
    padding-bottom: 40px;
  }
  #loader {
    background-size: 70%;
  }
}
.event-contain {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 100%;
}

.event {
  width: 100%;
  height: auto;
  padding-top: 40px;
  padding-bottom: 40px;
}

.container {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  width: 100%;
}
.text {
  font-size: 50px;
  color: #fefefe;
  text-align: center;
}
.row {
  width: 100%;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin-top: 20px;
}
.name {
  color: #fefefe;
}
.event-card {
  position: relative;
  text-align: center;
  padding: 0 18px;
}
.event-card img {
  width: 250px;
  height: 300px;
}
img {
  border-radius: 10px;
  transition: transform 0.2s;
}
.event-card img:hover {
  transform: scale(1.05);
}

.team-card img:hover {
  transform: scale(1.05);
}

.team {
  width: 100%;
  height: auto;
  color: #fefefe;
  padding-top: 90px;
  padding-bottom: 40px;
  font-size: 50px;
}

.team-card {
  position: relative;
  text-align: center;
  padding: 0 25px;
}
.lname {
  text-align: center;
  color: #fefefe;
}
.post {
  text-align: center;
  color: #fefefe;
}
.team-card img {
  border-radius: 50%;
}

@media only screen and (max-width: 900px) {
  .row {
    flex-flow: column;
    padding: 10px;
    margin: 10px;
  }

  .name {
    margin: 10px;
    padding: 10px;
  }

  .subtitle {
    margin: 10px;
    padding: 10px;
  }

  .subtitle .lname {
    padding: 5px;
  }
}

/* .reply-container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  align-items: center;
  flex-flow: column;
}

.reply-title {
  font-size: 20px;
  color: #fefefe;
  margin: 10px;
  padding: 10px;
}

.form {
  display: flex;
  flex-flow: column;
  width: 100%;
  margin: 10px;
  justify-content: center;
  align-items: center;
}

.input-name {
  text-decoration: none;
  width: 60%;
  height: 30px;
  border-radius: 5px;
  margin: 10px;
  outline: none;
  border: none;
  padding: 5px;
}

.input-email {
  text-decoration: none;
  width: 60%;
  height: 30px;
  border-radius: 5px;
  margin: 10px;
  outline: none;
  border: none;
  padding: 5px;
}

.input-message {
  text-decoration: none;
  width: 60%;
  /* height: 30px; 
  border-radius: 5px;
  margin: 10px;
  outline: none;
  border: none;
  padding: 5px;
}

.btn {
  border: none;
  outline: none;
  width: 20%;
  height: 30px;
  border-radius: 5px;
  padding: 5px;
  background: #3595dd;
  margin: 5px;
  cursor: pointer;
}

.btn:hover {
  background: #406e8e;
} */
.reply {
  margin-top: 80px;
  background-image: linear-gradient(#032e51, #3595dd);
  background-size: cover;
  padding: 20px;
}
.reply-heading {
  text-align: center;
  color: #fefefe;
}

form {
  max-width: 400px;
  margin: 0 auto;
}

label {
  color: white;
  display: block;
  margin-top: 10px;
}
#name,
#email,
#message {
  background-color: rgba(0, 0, 0, 0.2);
  display: inline-block;
  text-decoration: none;
  color: #8beaff;
  font-size: 20px;
  padding: 5px;
  border: 3px ridge #acdcff;
  border-radius: 20px;
}
#name:hover,
#email:hover,
#message:hover {
  color: #8beaff;
  border-color: #00687f;
}
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 5px;
}
textarea {
  min-height: 150px;
  max-height: 500px;
  resize: vertical;
}
.sub {
  display: flex;
  align-items: center;
  justify-content: center;
}
button[type="submit"] {
  font-size: 18px;
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #032646;
}
button[type="submit"]:active {
  background-color: #45a049;
}

footer {
  width: 100%;
  position: relative;
  /* height: 340px; */
  background-color: #3595dd;
}

.footer-content {
  display: flex;
  flex-flow: row;
}

.footer-content .col {
  display: flex;
  flex-flow: column;
  max-width: 500px;
  margin: 30px;
  width: 100%;
}

.footer-content .col .title {
  font-size: 30px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-size-adjust: bold;
}

.footer-content .col .icons {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-content .col .icons a {
  margin: 5px;
  text-decoration: none;
  color: #032e51;
  transition: 0.6s ease;
  font-size: 30px;
}

.fa {
  font-size: 25px;
}
.footer-content .col .text {
  font-size: 20px;
  padding: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}
.footer-content .col .text ul li a {
  text-decoration: none;
  color: #032646;
  line-height: 28px;
}
/* .footer-content .col .text ul li a {
  text-decoration: none;
  color: #032646;
} */
.footer-content .col .text ul li a:hover,
.footer-content .col .icons a:hover {
  color: #8beaff;
}
.footer-content .col .map {
  border-radius: 5px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fefefe;
  padding: 5px;
}

@media only screen and (max-width: 900px) {
  .footer-content {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .footer-content .col {
    margin: 5px;
  }
  .footer-content .col .icons ul li {
    display: inline;
  }
}
@media only screen and (max-width: 450px) {
  .text {
    font-size: 39px;
  }
}

#dev-overlay,
#ui-overlay,
#con-overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  cursor: pointer;
}
.team-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.team-members {
  width: 230px;
  margin: 5px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: grid;
  font-size: 18px;
  padding: 7px 11px;
  border: 3px ridge #032646;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.team-members:hover {
  background-color: #032646;
  color: #8beaff;
  border: 3px solid #fefefe;
}
.team-members:active {
  border: 3px solid #4caf50;
}

.members {
  display: flex;
  flex-direction: row;
}

.dev-modal-box ul li {
  padding: 5px 10px;
  list-style: none;
  margin-top: 20px;
  color: white;
}
.dev-modal-box h3 {
  background-color: #032646;
  border: 3px ridge gold;
  padding: 7px 11px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 700;
  color: white;
  text-align: center;
}
.dev-buttons {
  margin-top: 25px;
  text-align: center;
}
.dev-modal-box .dev-close-btn {
  font-size: 14px;
  padding: 6px 12px;
  margin: 0 10px;
}
.dev-section {
  font-family: "Poppins", sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
@media only screen and (max-width: 450px) {
  /* #dev-overlay, #ui-overlay, #con-overlay {
    position: absolute;
  } */
  .members {
    flex-direction: column;
  }
}
