* {
  font-family:  'Port Lligat Sans', sans-serif;
}

.alumni_body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #032e51;
}

h3 {
  color: coral;
  font-weight: 500;
  padding: 4px;
  border-radius: 20px;
  text-align: center;
  position: relative;
}

.alumni_container {
  position: relative;
  width: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
}

.flip-box {
  background-color: transparent;
  width: 300px;
  height: 300px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  margin: 15px;
  border-radius: 15px;
  margin-top: 30px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.alumni_info {
  text-align: center;
  padding: 15px;
  font-size: 25px;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front,
.flip-box-back {
  border-radius: 15px;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
  background-color: #bbb;
  color: black;
}

.flip-box-back {
  background-color: rgb(59 130 246 / 0.5);
  color: white;
  transform: rotateY(180deg);
}

.linkedin_link a {
  align-items: center;
}

.linkedin_link img {
  margin-left: 127px;
  height: 50px;
  width: 50px;
  align-items: center;
  justify-content: center;
  display: block;
}

.image {
  height: 300px;
  width: 300px;
  border-radius: 15px;
}

h2 {
  text-align: center;
  color: rgb(255, 247, 174);
  text-decoration: underline;
}

@media (max-width: 720px) {
  .image,
  .flip-box-front,
  .flip-box-back,
  .flip-box {
    height: 270px;
    width: 270px;
  }

  .alumni_info {
    font-size: 20px;
  }
  .linkedin_link img {
    margin-left: 110px;
  }
}
@media (max-width: 400px) {
  .image,
  .flip-box-front,
  .flip-box-back,
  .flip-box {
    height: 220px;
    width: 220px;
  }

  h2 {
    font-size: 20px;
  }

  .linkedin_link img {
    margin-left: 85px;
    height: 50px;
    width: 50px;
  }

  .alumni_info {
    font-size: 18px;
  }
}
